:root {
    --fontvar1: "Roboto", system-ui;
    
    --clrgrd: linear-gradient(to right, #1d976c, #93f9b9);
    --clr1: #ffffff;
    --clr2: #e4e7eb;
    --clr3: #219a6f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

;

body {
    box-sizing: border-box;
    font-family: var(--fontvar1);
}

html {
    font-size: 62.5%;
    font-weight: 400;
}